[submodule "libs/zsh-async"]
	path = libs/zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "libs/zsh-256color"]
	path = libs/zsh-256color
	url = https://github.com/chrissicool/zsh-256color.git
[submodule "libs/promptlib"]
	path = libs/promptlib
	url = https://github.com/eendroroy/promptlib-zsh.git
